.leaflet-container {
    height: 30vh;
    width: 60vw;
    border: 1px solid grey;
    border-radius: 5px;
    -webkit-box-shadow: 11px 9px 9px -8px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 11px 9px 9px -8px rgba(0, 0, 0, 0.52);
     box-shadow: 11px 9px 9px -8px rgba(0, 0, 0, 0.52);


}

